header {
  width: 100%;
  height: 8vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;

  padding: 0 40px;
  z-index: 10;

  @media only screen and (max-width: 700px) {
    padding: 0 20px;
  }
  span {
    font-weight: bold;
    font-size: 2.4rem;
    text-shadow: var(--TextShadow);
    cursor: pointer;

    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
.brand{
  animation-name: changecolor;
  animation-duration: 6s;
  animation-iteration-count:infinite;
}
@keyframes changecolor{
  0%   {color: rgb(4, 0, 255);}
  25%  {color: rgb(83, 0, 139);}
  50%  {color: rgb(255, 0, 238);}
  100% {color: rgb(46, 2, 17);}
}

.Sign-btn{
  display: block;
  width: 80px;
  height: 28px;
  padding: 2px 4px;
  margin-left: 8px;

  border-radius: 4px;
  box-shadow: none;
  background-color: aliceblue;
  color: rgb(20, 20, 20);

  text-align: center;
  font-weight: 500;
  filter: brightness(0.9);
  transition: all 0.3 linear;
  ;

      &:hover{
          filter: brightness(1);
          font-weight: bold;
          cursor: pointer;
      }
  }
.nav-btn{
  display: flex;
}